<header>
	{{#if session.isAuthenticated}}
		Welcome {{session.session.authenticated.username}}!
		<a href="#" {{action 'invalidateSession'}}>Logout</a>
		{{device-selection}}
	{{else}}
		{{#link-to 'login'}}Login{{/link-to}}
	{{/if}}
</header>

{{#if session.isAuthenticated}}
	<nav>
		<ul>
			<li>{{link-to "Albums" "albums"}}</li>
			<li>{{link-to "Tracks" "tracks"}}</li>
		</ul>
	</nav>
{{/if}}

{{outlet}}